<article class="site-article container article-type-<%= page.layout %>" itemscope itemprop="blogPost">
  <div class="section content" itemprop="articleBody">
    <% if (!index){ %>
      <%- page.content %>
    <% } %>
  </div>
</article>
