.github-emoji {
  position: relative;
  display: inline-block;
  width: 1.2em;
  min-height: 1.2em;
  overflow: hidden;
  vertical-align: top;
  color: transparent;
}

.github-emoji > span {
  position: relative;
  z-index: 10;
}

.github-emoji img,
.github-emoji .fancybox {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  user-select: none !important;
  cursor: auto !important;
}

.github-emoji img {
  height: 1.2em !important;
  width: 1.2em !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  user-select: none !important;
  cursor: auto !important;
}

.github-emoji-fallback {
  color: inherit;
}

.github-emoji-fallback img {
  opacity: 0 !important;
}
