.site-sidebar-wrap {
  border-right: 1px solid $grey-lightest;
}

.site-sidebar-top {
  position: relative;
  overflow: hidden;
  min-height: 13rem;
  margin: -0.75rem -2.25rem 1rem;
  background: $white-ter;

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
}

.site-sidebar-top-content {
  position: relative;
  z-index: 10;
}
