.site-sidebar-wrap {
  border-right: 1px solid $grey-lightest;
}

.site-sidebar-top {
  position: relative;
  margin: -0.75rem -2.25rem 1rem;
  padding-top: 100%;
  background: $white-ter;
}

.site-sidebar-top-content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
