.site-hero {
  // background-image:
  //   url('https://tvax4.sinaimg.cn/large/6e3591e5gy1giwexrclu0j21900u0hdt.jpg'),
  //   url('https://i.niupic.com/images/2020/09/20/8HmK.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
