.support-rewards {
  p {
    display: inline-block;

    &:hover span::before {
      opacity: 0.9;
    }
  }

  span {
    display: inline-block;
    font-size: 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: #000;
      opacity: 0;
      transition: opacity 0.4s;
      pointer-events: none;
      user-select: none;
    }

    &:hover::before {
      opacity: 0 !important;
    }
  }
}
