<article class="site-article container article-type-<%= page.layout %>" itemscope itemprop="blogPost">
  <div class="section content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
