<article class="site-article container article-type-<%= page.layout %>" itemscope itemprop="blogPost">
  <div class="site-article-content content" itemprop="articleBody">
    <%- page.content %>
  </div>
  <% if (theme.adsense){ %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="<%= theme.adsense %>"
        data-ad-slot="6866727264"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  <% } %>
</article>
